@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemonmilkregular';
    src: url('../fonts/lemonmilk-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lemonmilkbold';
    src: url('../fonts/lemonmilkbold-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilkbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'robotoregular';
}

header{
    position: fixed;z-index: 9;top: 0;left: 0;width: 100%;
}
.logo{
    margin-top: 10px;position: absolute;
}
header i{
    background-color: #505050;color: #fff;border-radius: 50%;padding: 1px 0px 0 0;width: 20px;height: 20px;text-align: center;
}
header span a{
    color: #525252;font-family: 'robotoregular';
}
header span a:hover{
    color: #fff;text-decoration: none;
}
.login{
    padding-top: 15px;
}
.login span{
    padding-top: 20px;
}
.login span a{
    outline: 0;
}
.main-heading{background: rgba(255,255,255,0.66);padding: 10px;}
#mainSlider h1 {
    font-size: 40px;line-height: 110%;font-weight: 900;letter-spacing: 8px;text-transform: uppercase;margin-bottom: 0;transition: font 200ms ease-out;font-family: 'Lato', sans-serif;
}
#mainSlider #owl-main .caption h1.light-bg, #mainSlider #owl-main .caption h1.medium-bg, #mainSlider #owl-main .caption h1.dark-bg, #mainSlider #owl-main .caption h1.tint-bg {
    font-size: 73px;
}
#mainSlider h4 {
    font-size: 33px;line-height: 120%;
}
.sub-heading{background: rgba(255,255,255,0.66);padding: 10px;width: 500px;margin: 15px auto}
#mainSlider p {
    font-size: 30px;line-height: 150%;font-weight: 400;letter-spacing: 8px;text-transform: none;margin-bottom: 0;transition: font 200ms ease-out, margin 200ms ease-out;font-family: 'lemonmilkregular';
}
#mainSlider .btn {
    background-color: #1ABB9C;margin-top: 60px;color: #fff;margin-bottom: 0;transition: background 200ms ease-out, font 200ms ease-out, padding 200ms ease-out, margin 200ms ease-out;
}
#mainSlider .btn-large {
    font-size: 18px;padding: 18px 70px 20px;
}
.owl-carousel {
    text-align: center;cursor: default;
}
.owl-controls {
    display: inline-block;position: relative;margin-top: 40px;
}
.panel-group .panel .owl-controls {
    margin-top: 25px;
}
.panel-group.blank .panel .owl-controls {
    margin-top: 40px;
}
.owl-pagination {
    position: relative;line-height: 30px;
}
.owl-buttons {
    display: none;
}
.owl-prev, .owl-next {
    display: inline-block;position: absolute;top: 0;bottom: 0;width: 30px;height: 30px;font-size: 30px;color: #FFF;background-color: #506A85;border: none;border-radius: 3px;margin: auto;transition: all 200ms ease-out;opacity: 0;
}
.owl-prev {
    left: -35px;
}
.owl-next {
    right: -35px;
}
.owl-carousel:hover .owl-prev {
    left: -40px;opacity: .25;
}
.owl-carousel:hover .owl-next {
    right: -40px;opacity: .25;
}
.owl-carousel:hover .owl-prev:hover, .owl-carousel:hover .owl-next:hover {
    color: #1ABB9C;opacity: 1;
}
.owl-outer-nav:after {
    content: "";position: absolute;top: 0;left: -15%;width: 130%;height: 100%;z-index: 0;
}
.owl-outer-nav .owl-wrapper-outer, .owl-outer-nav .owl-pagination, .owl-outer-nav .owl-prev, .owl-outer-nav .owl-next {
    z-index: 1;
}
.owl-outer-nav .owl-controls {
    position: static;
}
.owl-outer-nav .owl-prev {
    left: -65px;
}
.owl-outer-nav .owl-next {
    right: -65px;
}
.owl-outer-nav:hover .owl-prev {
    left: -80px;
}
.owl-outer-nav:hover .owl-next {
    right: -80px;
}
.owl-ui-md .owl-pagination {
    line-height: 45px;
}
.owl-ui-md .owl-prev, .owl-ui-md .owl-next {
    width: 45px;height: 45px;font-size: 45px;
}
.owl-ui-md .owl-prev {
    left: -55px;
}
.owl-ui-md .owl-next {
    right: -55px;
}
.owl-ui-md:hover .owl-prev {
    left: -60px;
}
.owl-ui-md:hover .owl-next {
    right: -60px;
}
.owl-outer-nav.owl-ui-md:after {
    left: -18%;width: 136%;
}
.owl-outer-nav.owl-ui-md .owl-prev {
    left: -85px;
}
.owl-outer-nav.owl-ui-md .owl-next {
    right: -85px;
}
.owl-outer-nav.owl-ui-md:hover .owl-prev {
    left: -100px;
}
.owl-outer-nav.owl-ui-md:hover .owl-next {
    right: -100px;
}
.owl-ui-lg .owl-pagination {
    line-height: 60px;
}
.owl-ui-lg .owl-prev, .owl-ui-lg .owl-next {
    width: 60px;height: 60px;font-size: 60px;
}
.owl-ui-lg .owl-prev {
    left: -75px;
}
.owl-ui-lg .owl-next {
    right: -75px;
}
.owl-ui-lg:hover .owl-prev {
    left: -80px;
}
.owl-ui-lg:hover .owl-next {
    right: -80px;
}
.owl-outer-nav.owl-ui-lg:after {
    left: -22%;width: 144%;
}
.owl-outer-nav.owl-ui-lg .owl-prev {
    left: -105px;
}
.owl-outer-nav.owl-ui-lg .owl-next {
    right: -105px;
}
.owl-outer-nav.owl-ui-lg:hover .owl-prev {
    left: -120px;
}
.owl-outer-nav.owl-ui-lg:hover .owl-next {
    right: -120px;
}
.owl-inner-nav .owl-controls {
    position: static;
}
.owl-inner-nav .owl-prev {
    left: 45px;
}
.owl-inner-nav .owl-next {
    right: 45px;
}
.owl-inner-nav:hover .owl-prev {
    left: 30px;
}
.owl-inner-nav:hover .owl-next {
    right: 30px;
}
.owl-outer-nav .owl-prev, .owl-outer-nav .owl-next {
    bottom: 70px;
}
.owl-inner-nav .owl-prev, .owl-inner-nav .owl-next {
    bottom: 70px;
}
.owl-outer-nav.owl-ui-md .owl-prev, .owl-outer-nav.owl-ui-md .owl-next {
    bottom: 85px;
}
.owl-inner-nav.owl-ui-md .owl-prev, .owl-inner-nav.owl-ui-md .owl-next {
    bottom: 85px;
}
.owl-outer-nav.owl-ui-lg .owl-prev, .owl-outer-nav.owl-ui-lg .owl-next {
    bottom: 100px;
}
.owl-inner-nav.owl-ui-lg .owl-prev, .owl-inner-nav.owl-ui-lg .owl-next {
    bottom: 100px;
}
.owl-inner-pagination .owl-pagination, .owl-inner-pagination .owl-prev, .owl-inner-pagination .owl-next {
    margin-top: -40px;top: -60px;
}
.owl-inner-pagination.owl-ui-md .owl-pagination, .owl-inner-pagination.owl-ui-md .owl-prev, .owl-inner-pagination.owl-ui-md .owl-next {
    margin-top: -50px;top: -65px;
}
.owl-inner-pagination.owl-ui-lg .owl-pagination, .owl-inner-pagination.owl-ui-lg .owl-prev, .owl-inner-pagination.owl-ui-lg .owl-next {
    margin-top: -60px;top: -75px;
}
.owl-inner-pagination.owl-outer-nav .owl-prev, .owl-inner-pagination.owl-outer-nav .owl-next {
    margin: auto;top: 0;bottom: 43px;
}
.owl-inner-pagination.owl-inner-nav .owl-prev, .owl-inner-pagination.owl-inner-nav .owl-next {
    margin: auto;top: 0;bottom: 43px;
}
.owl-inner-pagination .owl-pagination {
    transition: all 200ms ease-out;opacity: 0;
}
.owl-inner-pagination:hover .owl-pagination {
    opacity: 1;
}
.owl-inner-pagination.owl-inner-nav .owl-pagination, .owl-inner-pagination.owl-outer-nav .owl-pagination {
    top: -45px;
}
.owl-inner-pagination.owl-inner-nav.owl-ui-md .owl-pagination, .owl-inner-pagination.owl-outer-nav.owl-ui-md .owl-pagination {
    top: -50px;
}
.owl-inner-pagination.owl-inner-nav.owl-ui-lg .owl-pagination, .owl-inner-pagination.owl-outer-nav.owl-ui-lg .owl-pagination, .owl-inner-pagination.owl-inner-nav:hover .owl-pagination, .owl-inner-pagination.owl-outer-nav:hover .owl-pagination {
    top: -60px;
}
.owl-inner-pagination.owl-inner-nav.owl-ui-md:hover .owl-pagination, .owl-inner-pagination.owl-outer-nav.owl-ui-md:hover .owl-pagination {
    top: -65px;
}
.owl-inner-pagination.owl-inner-nav.owl-ui-lg:hover .owl-pagination, .owl-inner-pagination.owl-outer-nav.owl-ui-lg:hover .owl-pagination {
    top: -75px;
}
#owl-main .item {
    height: 44vh;background-color: #FFF;background-position: center 55%;background-size: cover;position: relative;
}
#owl-main.height-md .item {
    height: 100vh;
}
#owl-main.height-lg .item {
    height: 90vh;
}
#owl-main .container {
    display: table;height: inherit;
}
#owl-main .caption {
    display: table-cell;
}
#owl-main .caption.vertical-center {
    vertical-align: middle;padding-bottom: 3vh;
}
#owl-main .caption.vertical-top {
    vertical-align: top;
}
#owl-main .caption.vertical-bottom {
    vertical-align: bottom;padding-bottom: 14vh;
}
#owl-main .caption.text-center {
    padding-left: 10%;padding-right: 10%;
}
#owl-main .caption.text-left {
    padding-right: 20%;
}
#owl-main .caption.text-right {
    padding-left: 20%;
}
#owl-main .caption h1, #owl-main .caption p, #owl-main .caption div {
    position: relative;
}
#owl-main .caption h1 span {
    padding: .250em 0;line-height: 180%;
}
#owl-main .caption .light-bg, #owl-main .caption .medium-bg, #owl-main .caption .dark-bg, #owl-main .caption .tint-bg {
    background: none;padding-left: .500em;padding-right: .500em;
}
#owl-main .caption h1.light-bg span, #owl-main .caption p.light-bg span {
    background: #FFF;box-shadow: -.500em 0 0 #FFF, .500em 0 0 #FFF;-webkit-box-decoration-break: clone;box-decoration-break: clone;
}
#owl-main .caption h1.medium-bg span, #owl-main .caption p.medium-bg span {
    background: #A3B1BF;box-shadow: -.500em 0 0 #A3B1BF, .500em 0 0 #A3B1BF;-webkit-box-decoration-break: clone;box-decoration-break: clone;
}
#owl-main .caption h1.dark-bg span, #owl-main .caption p.dark-bg span {
    background: #506A85;box-shadow: -.500em 0 0 #506A85, .500em 0 0 #506A85;-webkit-box-decoration-break: clone;box-decoration-break: clone;
}
#owl-main .caption h1.tint-bg span, #owl-main .caption p.tint-bg span {
    background: #1ABB9C;box-shadow: -.500em 0 0 #1ABB9C, .500em 0 0 #1ABB9C;-webkit-box-decoration-break: clone;box-decoration-break: clone;
}
#owl-main .owl-controls {
    display: none !important;position: static;margin-top: -47px;
}
/* preloading images */
.owl-item.loading {
    min-height: inherit;background: none;
}
.light-color {
    color: #263238;
}
.medium-color {
    color: #263238;
}
.medium-color span{
    color: #004893;font-family: 'Lato', sans-serif;font-weight: 900;letter-spacing: 0;
}
.medium-color span .two{
    font-family: 'lemonmilkbold';font-size: 45px;
}
.search {
    background: rgba(255,255,255,0.6);position: relative;top: -65px;height: 65px;
}
.search_area{
    position: relative;margin: 10px 0;
}
.search_area i{
    position: absolute;top: 10px;color: #858585;left: 15px;font-size: 25px;
}
.search_area input{
    height: 45px;border-radius: 35px;padding-left: 55px;font-size: 18px;color: #bebebe;
}
.search_area input::placeholder{
    color: #bebebe;
}
footer{
    background-color: #3366ff;color: #fff;padding: 40px 0 0;font-size: 14px;
}
footer h3{
    margin-bottom: 20px;font-size: 20px;border-bottom: 1px solid #eee;padding-bottom: 5px;
}
footer .form-control,footer .form-control:focus{
    background-color: #3857c1;color: #fff;border: 1px solid #3857c1;height: 45px;border-radius: 10px;
}
footer .form-control::placeholder{
    color: #fff;
}
footer p{
    margin-bottom: 5px;
}
footer .btn-login{
    background-color: #fff;border-radius: 20px;padding: 8px 25px;	
}
.forgot_login{
    color: #fff;padding-top: 10px;
}
.forgot_login:hover{
    text-decoration: none;color: #fff;
}
.nopadding{
    padding: 0;
}
.sub_footer{
    background-color: #151f42;padding: 25px 0;	
}
.sub_footer p{
    color: #5a67ab;margin-bottom: 0;font-size: 13px;
}
.sub_footer p span{
    color: #fff;
}
.sub_footer .breadcrumb{
    background-color: transparent;margin-bottom: 0;padding: 0;
}
.sub_footer .breadcrumb a{
    color: #5a67ab;
}
#owl-demo{
    top: -65px;
}
#owl-demo .item .category{
    padding: 0 30px;color: #fff;cursor: pointer;font-family: 'Lato', sans-serif;font-size: 17px;height: 80px;width: 100%;display: table;overflow: hidden;line-height: 30px;text-align: left;
}
#owl-demo .item .category div{
    display: table-cell;vertical-align: middle;
}
#owl-demo .item .category div img{  
    float: left;width: 30px;height: 30px;margin-right: 20px;
}
#owl-demo .item .category div span {
    display: flex;
}
.category1{
    background-color: #a1d0d0;
}
.category2{
    background-color: #0091ea;
}
.category3{
    background-color: #66ccff;
}
.category4{
    background-color: #32a7e2;
}
.category5{
    background-color: #006699;
}
.category6{
    background-color: #339999;
}
.category7{
    background-color: #669999;
}
.category8{ 
    background-color: #336666;
}
.category9{
    background-color: #006666;
}
.category10{
    background-color: #009999;
}
.category11{  
    background-color: #99cccc;
}
.category12{
    background-color: #66cccc;
}
.fade-scale {
    transform: scale(0);opacity: 0;-webkit-transition: all .25s linear;-o-transition: all .25s linear;transition: all .25s linear;
}
.fade-scale.show {
    opacity: 1;transform: scale(1);
}
#categoryModal{
    padding-right: 0 !important;
}
#categoryModal .modal-dialog{
    max-width: 1170px;margin: 105px auto;
}
#categoryModal .modal-dialog .col-md-3{
    display: inline-block;list-style: none;font-size: 18px;
}
#categoryModal .modal-header{
    background-color: #6699c8;color: #fff;padding: 1rem 35px;
}
#categoryModal .modal-header h4{
    margin-bottom: 0;
}
#categoryModal .modal-header .close{
    color: #fff;opacity: 1;
}
#categoryModal a{
    border-bottom: 1px solid #ddd;display: block;color: #333;padding: 7px;line-height: 23px;transition: all 0.4s ease;background: #f5f5f5;margin-bottom: 15px;border-radius: 10px;border: 1px solid #ddd;font-size: 14px;text-transform: uppercase;
}
#categoryModal a i{
    margin-right: 10px;color: #0d4d95;
}
#categoryModal a:hover{
    text-decoration: none;background-color: #f5f5f5;box-shadow: 0 2px 10px 2px rgba(0,0,0,.16);
}
#categoryModal .modal-body{
    padding: 1rem 35px;
}
#loginModal .modal-dialog{
    max-width: 400px;margin: 30px auto;
}
#loginModal .modal-content{
    border-radius: 10px;font-size: 14px;font-family: 'robotoregular';background: -webkit-linear-gradient(top, #7579ff, #b224ef);
}
#loginModal .modal-header{
    background-color: #0d4d95;color: #fff;border-top-left-radius: 0;border-top-right-radius: 0;
}
#loginModal .modal-dialog h4{
  	margin-bottom: 0;
}
#loginModal .modal-body{
    padding: 30px;border-radius: 10px;
}
#loginModal .modal-body h1{
    color: #fff;font-weight: 600;line-height: 75px;
}
#loginModal .modal-header .close{
    color: #fff;opacity: 1;
}
#loginModal .form-control{
    border-radius: 0;height: 50px;margin-bottom: 25px;
}
#loginModal a:hover{
    text-decoration: none;
}
.login_logo {
    background: #fff;width: 140px;height: 140px;border-radius: 50%;padding: 35px 10px;margin: 0 auto;
}
.btn-log{
    background-color: #fff;border-color: #fff;color: #333;border-radius: 30px;padding: 10px 23px;
}
.btn-search{
    background: #00ca4d;color: #fff;box-shadow: 0 6px #00ca4d;-webkit-transition: none;-moz-transition: none;transition: none;border-radius: 35px;position: absolute;right: 0;top: 0px;padding: 6px 45px;box-shadow: 0 4px #009c36;font-size: 18px;
}
.btn-search:hover{
    box-shadow: 0 4px #009c36;
}
.btn-search:active{
    box-shadow: 0 4px #009c36;
}
.btn-search:after{
    content: '';position: absolute;z-index: -1;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;
}
#owl-demo .owl-controls{
    display: block !important;
}
#owl-demo .owl-buttons{
    display: block;position: relative;top: -290px;
}
.owl-buttons i{
    background: #263a83;width: 35px;height: 35px;border-radius: 50px;padding: 7px 12px;font-size: 23px;
}
#owl-demo .owl-prev, #owl-demo .owl-next{
    opacity: 1;background-color: transparent;
}
#owl-demo .owl-prev{
    left: 5px;
}
#owl-demo .owl-prev i{
    padding: 7px 5px;
}
#owl-demo .owl-next{
    right: 10px;
}
.heading{background-color: #e0e0e0;padding: 30px 0 20px;}
.heading h3{margin-bottom: 0;}
.popular_services{
    position: relative;top: -70px
}
.popular_services h3{
    color: #525252;
}
.heading hr{
    width: 250px;border-color: #0d47a1;border-width: 3px;margin-bottom: 0;
}
.service_section{
    background-image: url(../img/service_bg.jpg);background-size: cover;width: 100%;height: 250px;box-shadow: 0px 2px 10px #888888;margin-bottom: 30px;padding: 40px 0 10px;
}
.company_logo{
    padding: 25px 0;
}
.company_logo img{
    margin-bottom: 15px;
}
.company_logo h5{
    margin-bottom: 0;
}
.icon1 {
    background: #014991;border-radius: 15px;padding-top: 80px;padding-left: 8px;padding-right: 8px;border-top-left-radius: 0;border-top-right-radius: 0;margin-right: 10px;
}
.name_section{
    padding-top: 50px;margin-bottom: 10px;
}
.name_section h4{
    margin-bottom: 0;width: 200px;word-wrap: break-word;
}
.icon{
    background-color: #014991;padding: 2px 9px;border-radius: 50%;width: 30px;height: 30px;margin-right: 10px;
}
.name_section span{
    color: #a1a1a0;
}
.service_section p{
    margin-bottom: 0;
}
.business_cards{height: 250px;padding: 0}
.mb20{
    margin-bottom: 10px;
}
.bottom_section hr{ 
    border-width: 3px;border-color: #003399;width: 60%;position: relative;top: -80px;
}
.btn-notify{
    background: #ff9800;color: #fff;box-shadow: 0 6px #ce7b02;-webkit-transition: none;-moz-transition: none;transition: none;border-radius: 50px;padding: 7px 45px;font-size: 25px;position: relative;top: -40px;
}
.btn-notify:hover{
    box-shadow: 0 4px #ce7b02;color: #fff;
}
.btn-notify:active{
    box-shadow: 0 4px #ce7b02;
}
.btn-notify:after{
    content: '';position: absolute;z-index: -1;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;
}
.header{
    background-color: #e4f2fd;box-shadow: 0 2px 10px #333;padding: 15px 0;-webkit-transition: all 0.5s ease;-moz-transition: position 10s;-ms-transition: position 10s;-o-transition: position 10s;transition: all 0.5s ease;
}
.header .logo{
    position: relative;margin-top: 0;
}
.header .login span{  
    padding-top: 15px;
}
.fixed {
    position: fixed;top:0; left:0;width: 100%; animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
.forgot_pswrd {
    margin: 200px 0 100px;box-shadow: 0 0 3px #333;display: inline-block;padding-top: 30px;padding-bottom: 30px;background: -webkit-linear-gradient(top, #7579ff, #b224ef);border-radius: 10px;
}
.forgot_pswrd h4{
    /*background-color: #0d4d95;*/padding: 20px 20px 0;color: #fff;
}
.forgot_pswrd form{ 
    padding: 20px;
}
.forgot_pswrd p{
    padding:  0 20px 10px;margin-bottom: 0;color: #fff;
}
.forgot_pswrd input{
    margin-bottom: 20px;
}
.contact_section{
    padding: 160px 0 80px;
}
.contact_section h4{
    margin-bottom: 0;
}
.contact_section hr{
	width: 200px;border-width: 2px;border-color: #0d4d95;float: left;
}
.contact_section input.form-control{
	height: 45px;
}
.contact_section .form-control{
	background-color: #f8f8f8;border: 1px solid #e8e8e8;
}
.contact_details{
	background-image: url(../img/contact_info.jpg);background-size: cover;background-attachment: fixed;background-repeat: no-repeat;position: relative;padding: 100px 0;color: #fff;
}
.contact_details:before{
	position: absolute;top: 0;left: 0;background-color: rgba(0,0,0,0.7);content: '';width: 100%;height: 100%;
}
.contact_details i{
	width: 70px;height: 70px;display: block;text-align: center;font-size: 36px;line-height: 65px;border-style: solid;border-width: 2px;border-color: #8a8a8a;margin: 0 auto;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;color: #fff;
}
.contact_details p{
	margin-bottom: 5px;
}
.contact_details h4{
	margin-bottom: 20px
}
.no-margin{
	margin: 0;
}
.about_section{
	padding: 160px 0 80px;text-align: justify;
}
.about_section h4{
	margin-bottom: 0;
}
.about_section hr{
	width: 200px;border-width: 2px;border-color: #0d4d95;float: left;
}
.btn-social{
	position: relative;padding-left: 50px;text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-bottom: 15px;
}
.btn-social i{
	position: absolute;left: 0;top: 0;bottom: 0;width: 40px;line-height: 34px;font-size: 1.5em;text-align: center;border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-fb{
    color: #fff;background-color: #3b5998;border-color: rgba(0,0,0,0.2);
}
.btn-fb:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-tw{
	color: #fff;background-color: #55acee;border-color: rgba(0,0,0,0.2);
}
.btn-tw:hover{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-google {
    color: #fff;background-color: #dd4b39;border-color: rgba(0,0,0,0.2);
}
.btn-google:hover {
    color: #fff;background-color: #c23321;border-color: rgba(0,0,0,0.2);
}
.btn-instagram {
    color: #fff;background-color: #3f729b;border-color: rgba(0,0,0,0.2);
}
.btn-instagram:hover {
    color: #fff;background-color: #305777;border-color: rgba(0,0,0,0.2);
}
.btn-linkedin {
    color: #fff;background-color: #007bb6;border-color: rgba(0,0,0,0.2);
}
.btn-linkedin:hover {
    color: #fff;background-color: #005983;border-color: rgba(0,0,0,0.2);
}
.listing_section{
	padding: 160px 0 40px;
}
.company_info{
	background-color: #00489a;padding: 50px 30px 30px;color: #fff;
}
.company_info h4{
	font-family: 'lemonmilkregular';margin-top: 15px;margin-bottom: 25px;
}
.company_info p{
	margin-bottom: 5px;
}
.newsletter_subscribe {
	border: 1px solid #ddd;
}
.newsletter_subscribe h5{
	background-color: #333;color: #fff;padding: 10px 15px;
}
.subscribe{
	padding: 15px;position: relative;
}
..subscribe .form-control{
	height: 45px;
}
.btn-subscribe{
	position: absolute;top: 15px;right: 15px;background-color: #00489a;border-color: #00489a;color: #fff;
}
.about_company{
	padding-top: 40px;
}
.about_company p{
	text-align: justify;
}
.about_company a .fa{
	width: 40px;height: 40px;font-size: 20px;color: #fff;margin-right: 5px;-webkit-transition: all 250ms ease;transition: all 250ms ease;
}
.about_company a .fa:hover{
	-webkit-transform:translatey(-4px);-ms-transform:translatey(-4px);transform:translatey(-4px)
}
.about_company .fa-facebook{
	background-color: #3a589b;padding: 10px 15px;
}
.about_company .fa-twitter{
	background-color: #55acee;padding: 10px;
}
.about_company .fa-linkedin{
	background-color: #007bb6;padding: 10px 12px;
}
.about_company .fa-google-plus{
	background-color: #dd4b39;padding: 10px 7px;
}
.about_company p{
	margin-bottom: 0;
}
.about_company h6{
	margin-top: 15px;
}
.symbol {
    display: inline-block;border-radius: 50%;border: 5px double white;width: 30px;height: 30px;
}
.symbol-empty {
    background-color: #ccc;
}
.symbol-filled {
    background-color: black;
}
.rating-symbol-foreground {
    color: #fdca01;
}
.rating-symbol {
    margin-right: 5px;
}
.btn-rate{
	background-color: #00489a;color: #fff;border-radius: 20px;
}
.fa-2x {
    font-size: 1.8em;
}
.company_tab .nav-tabs .nav-item{
	width: auto;
}
.company_tab .tab-content img{
	border-radius: 5px 5px 0 0;width: 255px;height: 170px;
}
.company_tab .tab-content h5{
	background-color: #00489a;padding: 5px 10px;color: #fff;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;
}
#gallery .col-md-3, #attachment_img .col-md-3{
	float: left;margin-bottom: 15px;
}
#contact img{
	float: left;width: 80px;height: 80px;margin-right: 25px;border-radius: 50px;margin-top: 10px;border: 1px solid #ddd;
}
.contactDetails h4{
	font-size: 14px;text-transform: uppercase;font-weight: 600;
}
.contactDetails th{
	width: 80px;font-weight: 400;font-size: 14px;
}
.contactDetails td{
	font-size: 14px;
}
.contactDetails td:before{
	content: ':';margin-right: 8px;
}
#suggestion h4, #enquiry h4{
	margin-bottom: 25px;
}
#suggestion label,  #enquiry label{
	font-size: 15px;font-weight: 600;
}
.btn-contact{
	background-color: #263a83;border-color: #263a83;padding: 8px 50px;color: #fff;border-radius: 25px;
}

@media(max-width: 991px){
	.contact_details{
		text-align: center;
	}
}
@media(max-width: 767px){
	.contact_details  .no-margin, .contact_details i {
		margin-bottom: 20px
	}
    .company_tab .tab-content img{width: auto;height: auto;}
}
@media(max-width: 465px){
	.btn-notify{
		font-size: 20px;padding: 15px 25px;
	}
}
.tab .nav-tabs{
    border: none;border-bottom: 2px solid #0d4d95;margin: 0;
}
.nav-tabs li a:hover,a:focus{
    text-decoration: none;outline: none;
}
.tab .nav-tabs li a{
    padding: 10px 20px;margin: 0 10px -1px 0;font-size: 17px;font-weight: 600;color: #293241;text-transform: uppercase;border-bottom: none;border-radius: 5px 5px 0 0;z-index: 1;position: relative;transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    background: #fff;color: #0d4d95;border: 1px solid #0d4d95;border-bottom-color: transparent;background: #0d4d95;color: #fff;
}
.tab .nav-tabs li a:before{
    content: "";display: block;height: 0px;background: #fff;position: absolute;bottom: -3px;left: 0;right: 0;transform: scaleX(0);transition: all 0.3s ease-in-out 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{ transform: scaleX(1); }
.tab .tab-content{
    padding: 40px 0;position: relative;
}
.company_tab .tab .tab-content{
	padding: 0;
}
#service, #gallery, #attachment, #suggestion, #enquiry{
	padding: 40px 0;
}
#contact .companyInfo{
	border: 1px solid #ddd;padding: 15px;float: left;
}
.tab .tab-content a{
	color: #333;text-decoration: none;
}
.nav-tabs .nav-link.active{border:1px solid #0d4d95;border-bottom: 0;background: #0d4d95;color: #fff;}
.btn-srch{
	background-color: #0d4d95;border-color: #0d4d95;color: #fff;border-radius: 0;border-bottom-right-radius: 30px;border-top-right-radius: 30px;height: 50px;
}
.nav-tabs .nav-item{
	width: 50%;text-align: center;
}
.search-area {
    display: flex;
}
.search-area .form-control{
    border-radius: 0;height: 50px;
}
.search-area .state{
    border-top-left-radius: 30px;border-bottom-left-radius: 30px;
}
.company_addr {
    padding: 5px 30px;
}
.company_addr .icon{
  padding: 9px 10px;
}
.mob_addr{
    display: none;
}

@media(max-width: 1199px){
    .name_section h4{
        width: 150px;
    }
    .company_addr {
        padding: 15px 5px;
    }
}
@media(max-width: 991px){
    .name_section h4 {
        width: auto;
    }
    .company_addr {
        padding: 15px 30px;
    }
}
@media(max-width: 767px){
    .company_addr {
        padding: 15px 5px;
    }
    .sub-heading{width: 100%}
    #mainSlider h1{font-size: 30px;}
    #mainSlider p{font-size: 25px;}
}
@media(max-width: 575px){
    .search-area{
        display: block;
    }
    .btn-srch, .search-area .state{border-radius: 0;}
    .company_addr{
        display: none;
    }
    .service_section{
        height: auto;
    }
    .company_logo {
        padding: 20px 0;
    }
    .icon1{
        border-radius: 50px;padding: 2px 10px;width: 30px;height: 30px;
    }
    .name_section{
        padding-top: 0;
    }
    .name_section h4 {
        width: auto;font-size: 20px;
    }
    .mob_addr{
        display: block;
    }
    .details{
        padding: 0 30px
    }
    #mainSlider h1{font-size: 25px;}
    #mainSlider p{font-size: 20px;}
    .name_section h4{
        font-size: 17px;
    }
    .service_section p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs{ border: none; }
    .tab .nav-tabs li{
        width: 100%;text-align: center;margin-bottom: 15px;
    }
    .tab .nav-tabs li a{
        margin: 0;border-bottom: 2px solid transparent;
    }
    .tab .nav-tabs li a:before{
        content: "";width: 100%;height: 2px;background: #0d4d95;position: absolute;bottom: -2px;left: 0;
    }
}
@media(max-width: 360px){
    .name_section h4{
        font-size: 16px;
    }
    .service_section p{
        font-size: 13px;
    }
}
#mainSlider.company_slider{
	margin-top: 100px;
}
#mainSlider.company_slider #owl-main.height-md .item{
	height: 70vh;
}
#mainSlider.company_slider #owl-main .item:before{
	position: relative;
}
#mainSlider.company_slider .owl-buttons{
	display: block;
}
#mainSlider.company_slider #owl-main .owl-controls{
	display: block !important;margin-top: 0;
}
#mainSlider.company_slider .owl-ui-lg .owl-prev, .owl-ui-lg .owl-next {
    width: 50px;height: 50px;font-size: 35px;bottom: 50px !important;
}